body{
    margin: 0;
    background-image: url(https://img.freepik.com/free-photo/nice-day-with-blue-sky_1136-235.jpg?w=740&t=st=1660827492~exp=1660828092~hmac=fd6c7b5094b7ed1af5fd13fa2cee608b0be2f26a9599a563fb4e4051c54a574c);
    
    font-family: 'merriweather', sans-serif;
}
.h{
    font-family: 'Sacramento';
    text-align:center;
}
h2{
   color: aqua;
}
h3{
    color: #554994;
}
.img{
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    height: 250px;
    width: auto;

}
.links{
    margin-top: 100px;
    background-color: blanchedalmond;
    width: auto;
    height: 100px;
}
ul{
  list-style-type: none;
    float: left;
    padding: 5px;
    margin-left: 15px;
}
ol{
    list-style-type: none;
    float: right;
    margin: 0 20px 50px 0;
    padding: 10px;
}
li{
    text-decoration-color: aqua;
}

li:hover{
    background-color: black;
}

 th, td {
    border-radius: 25px;
    color: antiquewhite;
    background-color: #554994;
    text-align: center;
  }
  table {
    border-spacing: 15px;
  }
  .qb{
    max-width: 50%;
    float: left;

  }
  .table{
    float: right;
   max-width:50%;
  }
  .l{
    font-family: 'monserrat';
  }
  .its{
    margin: 30px 0 0 15px;
  }
  span{
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    color: aliceblue;
    background-color: blueviolet;
  }
  @media screen and (max-width: 480px) {
    .links, .qb, .table, .its {float: none;
    width: 100%;}
    
  }